#pokemonSection {
    display: grid;
    position: relative;
    width: 100%;
    // grid-template-columns: auto minmax(300px,400px);
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

#pokeResultados {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 1rem;
    grid-column: 1/3;
}

.tarjetaPKMN {
    border-radius: 10px;
    border: 5px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    width: 200px;
    flex-grow: 0.2;
    cursor: pointer;

    &.activa {
        border-color: red;
    }
}

.tarjeta_header {
    margin: 0;
    width: 100%;
    padding: 1em 0.4em 0.2em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: $color-principal;
    color: $color-secundario;
    z-index: -1;
    box-shadow: 0 2px 2px grey;
    box-sizing: border-box;
}

.tarjeta_body {
    padding: 0.5rem;
}

.tarjeta_img {
    width: 192px;
    height: 192px;
    image-rendering: pixelated;
}

.tarjeta_tipos {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.evolPath_main {
    border: 1px solid;
}

#selected_card {
    background-color: black;
    position: sticky;
    top: 0;
    color: white;
    padding: 0.5em;
    box-sizing: border-box;
    max-height: 100vh;
    overflow-y: scroll;

    &>div {
        margin: 3rem 0;
    }

    .tarjeta_header {
        border-radius: 10px;
        margin-top: 0;
    }

    .tarjeta_img {
        border: solid 2px $color-secundario;
        border-radius: 50px;
    }

    .tarjeta_tipos {
        flex-direction: column;
    }
}

.tarjeta_mainInfo {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.tipos_daños {
    width: 100%;
    display: grid;
    grid-template: 
        "type_title type_title1"
        "x2DmgFrom x2DmgFrom1"
        "x2DmgTo x2DmgTo1"
        "halfDmgFrom halfDmgFrom1" 
        "halfDmgTo halfDmgTo1"
        "noDmgFrom noDmgFrom1"
        "noDmgTo noDmgTo1"
        /50% 50%;
    row-gap: 10px;
    justify-content: center;
}

.type_title0 {grid-area: type_title;}
.type_title1 {grid-area: type_title1;}

.type_x2DmgFrom0 {grid-area: x2DmgFrom;}
.type_x2DmgFrom1 {grid-area: x2DmgFrom1;}

.type_x2DmgTo0 {grid-area: x2DmgTo;}
.type_x2DmgTo1 {grid-area: x2DmgTo1;}

.type_halfDmgFrom0 {grid-area: halfDmgFrom;}
.type_halfDmgFrom1 {grid-area: halfDmgFrom1;}

.type_halfDmgTo0 {grid-area: halfDmgTo;}
.type_halfDmgTo1 {grid-area: halfDmgTo1;}

.type_noDmgFrom0 {grid-area: noDmgFrom;}
.type_noDmgFrom1 {grid-area: noDmgFrom1;}

.type_noDmgTo0 {grid-area: noDmgTo;}
.type_noDmgTo1 {grid-area: noDmgTo1;}

@import '_typesTagStyles.scss';