@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

$color-principal: rgb(116, 0, 0);
$color-secundario: rgb(241, 241, 241);

$main-font: 'Noto sans', sans-serif;

* {
    padding: 0;
    margin: 0;
}

body{
    font-family: $main-font;
    font-size: 1rem;
}

h3{
    font-size: 1.4rem;
}

ul{
    padding-inline-start: 40px;
}

button{
    background-color: lighten($color: $color-principal, $amount: 20%);
    padding: .5rem .8rem;
    color: $color-secundario;
    font-family: $main-font;
    font-weight: 600;
    font-size: 1rem;
    border: 3px solid black;
    border-radius: 20px;
    cursor: pointer;

    &:hover{
        background-color: lighten($color-principal, 10%);
    }

    &:active{
        border-color: $color-secundario;
    }

    &.btn_secondary {
        background-color: $color-secundario;
        color: $color-principal;

        &:hover {
            background-color: darken($color: $color-secundario, $amount: 10%);
        }
        
        &:active {
            background-color: darken($color: $color-secundario, $amount: 15%);
        }
    }
}

input[type="search"], input[type="number"]{
    padding: 3px;
    border: black 2px solid;
    border-radius: 5px;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
}

@import '_mainNav.scss';
@import '_formStyles.scss';
@import '_results.scss';