$color-principal: rgb(116, 0, 0);

* {
    padding: 0;
    margin: 0;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: $color-principal;
    color: white;
    padding: 1rem;

    .nav_logo {
        width: 6rem;
        height: 6rem;
    }

    .nav_busqueda {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 5px;
        background-color: rgba(255, 255, 255, 0.2);
        border-radius: 10px;

        &>p {
            margin: 5px;
        }

        &>ul {
            display: flex;
            align-items: center;

            &>li {
                list-style: none;
                margin: 5px;
            }
        }
    }

    .nav_modo {
        height: min-content;
    }
}

#pokeResultados{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 1em 0;
}
.tarjetaPKMN{
    border-radius: 10px;
    border: 5px solid black;
    // padding: 1rem;
    margin: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
    cursor: pointer;
    &>*{
        margin: 1rem;
    }
    .tarjeta_header{
        margin: 0;
        width: 100%;
        padding: 1em 0 0.2em;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        background-color: $color-principal;
        color: rgb(230, 230, 230);
        z-index: -1;
        box-shadow: 0 2px 2px;
        &>h3{
            margin: 0 0.5em;
        }
    }
    .tarjeta_img{
        width: 192px;
        height: 192px;
        image-rendering: pixelated;
    }
    &.activa{
        border-color: red;
        width: 100%;
    }
}